/* styles.css */
img {
    max-width: 600px;
    height: auto;
    border-radius: 100%; /* Apply rounded corners for a profile picture effect */
}

body {
    font-size: 24px; /* Change the value to your desired font size */
}

.text-with-image {
    overflow: hidden; /* Clear the float */
}

img {
    float: right;
    margin-left: 10px; /* Add some margin to separate text and image */
}


.image-tooltip {
    position: relative;
    display: inline-block;
}

.image-tooltip::before {
    content: attr(alt);
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.image-tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}
